footer{
  background-color: black;
}

.col-md-3{
  margin-top: 30px;
}

.top-margin{
  margin-top: 30px;
}

footer p,b,strong{
  color: white;
}

@media screen and (max-width:414px){
  footer{
    background-color: black;
  }
}

