
.main-header{
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 40px;
  margin-left: 0px;
  border-bottom: 0px;
}

.main-header li a{
  color: white;
  font-size: 16px;
}

.container li :hover{
  background-color: white;
  color: black;
}

.brand-text-custom{
  color: white;
  margin-top: 10px;
  font-size: 12px;
}

.main-sidebar{
  height: 800px;
  background-color: rgba(0, 0, 0, 0.596);
}

.hide-header{
  visibility: hidden;
}

@media screen and (max-width:420px){
  .main-header{
    height: 50px;
  }
}
