
@font-face {
  font-family: font_gate;
  src: url(../../../assets/font/font_gate.ttf) format("opentype");
}


#home-page img {
  max-width: 30%;
  max-height: fit-content;
}

#page-title{
  font-size: 63px;
  font-family:  font_gate;
}

.font-gate{
  font-family:  font_gate;
}

#home-page h1,p{
  color: white;
}

.content{
  min-height: 500px;
}

.jumbotron {
  background-color: #090e09;
  margin-bottom: 0px;
}

.members li{
  margin-top: 20px;
}

#jumbotron-transparent{
  background-color: #1f1f1f;
}

#jumbotron-third{
  background-color: #1f1f1f;
}

#jumbotron-third .row{
  margin-top: 40px;
}

li{
  text-align: center;
}

li img{
  width: 150px;
}

.container-fluid { overflow-x: hidden; }

@media screen and (max-width:900px){

  #page-title{
    font-size: 40px;
  }

  #home-page img {
    max-width: 60%;
  }

  .partners-logo img{
    max-width: 40%;
  }

  .content{
    min-height: 280px;
  }

}

@media screen and (max-width:650px){

  #page-title{
    font-size: 20px;
  }

  #home-page img {
    max-width: 30%;
  }

  .partners-logo img{
    max-width: 40%;
  }

  .content{
    min-height: 180px;
  }

}


@media screen and (max-width:420px){

  #page-title{
    font-size: 20px;
  }

  #home-page img {
    max-width: 35%;
  }

  .partners-logo img{
    max-width: 20%;
  }

  .content{
    min-height: 100px;
  }

  @media screen and (max-width:320px){

    #page-title{
      font-size: 15px;
    }

    #home-page img {
      max-width: 20%;
    }

    .partners-logo img{
      max-width: 30%;
    }

    .content{
      min-height: 50px;
    }
  }

}
