<div id="home-page">
  <div class="content container">
    <div class="text-center home-logo">
      <h1 id="page-title">Grupo Tatico de Airsoft</h1>
      <img src="../../../assets/img/logo_scar.png">
    </div>
  </div>

  <div id="jumbotron-transparent" class="text-center jumbotron welcome-jumbotron" >
    <h1 class="font-gate">Parceiros:</h1>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-4 partners-logo">
        <img src="../../../assets/img/partners/shotzone.png">
      </div>
    <div class="col-md-4 col-sm-6 col-4 partners-logo">
      <img src="../../../assets/img/partners/shotzone.png">
    </div>
    <div class="col-md-4 col-sm-6 col-4 partners-logo">
        <img src="../../../assets/img/partners/shotzone.png">
    </div>
    <div class="col-md-4 col-sm-6 col-4 partners-logo">
          <img src="../../../assets/img/partners/shotzone.png">
    </div>
  </div>
  </div>

  <div class="text-right jumbotron welcome-jumbotron col-md-12 col-xs-12" >
    <h1 class="font-gate">Sobre nos.</h1>
    <p class="text-left">A Equipe GATE foi fundada no dia 22 de julho de 2016, por um grupo de antigos amigos, na qual elegemos o nosso Team Leader - Gabriel Rocha e decidimos algumas coisa sobre a Equipe. Exemplo = nome e regras.
      A Equipe GATE tem sede em Lisboa mas o seu campo é em Porto Alto. Hoje contamos com {{usersSize}} elementos no total, sendo dividido em Team Leader, capitães,sargento,soldados e recrutas.</p>
  </div>

  <div  id="jumbotron-third" class="text-left jumbotron welcome-jumbotron">
    <h1 class="font-gate text-center">O COMEÇO</h1>

     <!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>

      <div class="text-center">
        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fgateairsoftclube%2Fvideos%2F950116065171503%2F&show_text=false&width=734&appId=2928874953901825&height=411" width="734" height="411" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
      </div>

  </div>
</div>
