#home-page img {
  max-width: 100%;
  max-height: fit-content;
}

.content{
  min-height: 620px;
}

.jumbotron {
  background-color: black;
}

@media screen and (max-width:414px){
  .content{
    min-height: 280px;
  }
}
